@use '../../variables' as v;

.landing{
  position: relative;
  height: 100vh;
  background-image: url(../../assets/images/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .landing-text{
  width: 930px;
  font: {
    size: 2rem;
    family:"Readex-pro";
    }
  }
  .slider{
    bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
    .slider-button{
      width: 12px;
      height: 12px;
      background-color: white;
      border-radius: 50%;
      transition: .4s;
      
      &:not(:last-child){
        margin-right: 1rem;
      }
      &.active{
        background: v.$main-color;
      }
      &:hover{
        background: v.$main-color;
      }
    }
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25rem;
    border-color: transparent transparent rgb(0 0 0 / 25%) transparent;
    z-index: 100;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: -25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25rem;
    border-color: rgb(0 0 0 / 25%) transparent transparent  transparent;
    z-index: 100;
  }
}

// Animations:
.landing-text{
  opacity: 0;
  animation: fadeIn 2s 2s forwards;
}

@for $i from 1 through 4 {
  .slider-button:nth-child(#{$i}){
    opacity: 0;
    animation: fadeInDown 0.2s ease-in-out forwards;
    animation-delay: #{$i * .3}s;
  }
}
.landing{
  &::after{
    opacity: 0;
    animation: fadeInLeft 1s 1.5s forwards ease-in-out;
  }
  &::before{
    opacity: 0;
    animation: fadeInRight 1s 1.5s forwards ease-in-out;
  }
}


// Media Queries:
@media (max-width: 768px) {
  .landing .landing-text{
    width: 390px;
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .landing::after, .landing::before{
    border-width: 20rem;
  }
}