@use '../../variables' as v;

.services{
  position: relative;
  background-color: v.$secondery-light-color;
  .dotted-box{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5rem;
    right: 20rem;
    
    border: .1rem dashed #5cb7fa ;
  }
  .main-heading{
    font-size: 3rem;
  }
  .switcher{
    margin-bottom: 2rem;
    .switch-btn{
      padding: 1rem;
      border: none;
      color: white;
      width: 187px;
      &:focus{
        outline: none;
      }
      &.special-btn{
        background-color: v.$main-color;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &.support-btn{
        background-color: #333333;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  .services-desc{
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin-bottom: 4.2rem;
    margin: 0 auto 4.2rem;    
    color: v.$primary-light-text-color;
  }
  .service{
    position: relative;
    background-color: v.$service-light-color;
    padding-bottom: 1rem;
    height: 11.375rem;
    width: 10.346rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    margin-bottom: 3.5rem;
    transition-duration: .4s;
    cursor: pointer;
    opacity: 0;
    &:not(:last-child){
      margin-right: 2rem;
    }
    .service-icon{
      position: absolute;
      // margin-bottom: 2rem;
      bottom: 6rem;
    }
    .service-name{
      margin: 0;
      font-size: 14px;
    }
    
    &.active{
      background-color: #333333;
      color: v.$primary-light-color
    }
    &:hover{
      transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.30);

    }
  }
  .slider{
    .slider-btn{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #d9d9d9;
      transition-duration: .4s;
      &:first-child{
        margin-right: 1rem;
      }
      &.active{
        background-color: #7DB6A3;
      }
      &:hover{
        background-color: #7DB6A3;
      }
    }
  }
}

@media (max-width: 991px) {
  .services {
    margin-bottom: 1rem;
    .dotted-box{
      right: .7rem;
    }
    .switcher{
      display: flex;
      justify-content: center;
      align-items: center;
      .switch-btn{
        padding: .8rem 0;
        width: 150px;
        font-size: .8rem;
      }
    }
    .services-desc{
      width: 100%;
      font-size: 1rem;
    }
    .service{
      margin: 0 auto 1rem;
    }
  }
}