
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
    .nav-links{
      margin-bottom: 0;
      .nav-link{
        padding: 4rem 2rem;
        font-family: 'Readex-pro';
        cursor: pointer;
        color: white;
        transition: all .4s;
        opacity: 0;
        &:hover{
          color: rgb(168, 188, 222);
        }
      }
    }
}

// onLoad Animations:
@for $i from 1 through 4{
  .nav-link:nth-child(#{$i}){
    animation: fadeInDown ease-out forwards;
    animation-duration:1s;
    animation-delay: #{$i / 2}s;
  }
}


@media (max-width: 991px) {
  .header{
    .nav-links{
      .nav-link{
        padding: 2rem 1rem;
        font-size: .8rem;
        text-align: center;
      }
    }
  }
}
