$main-color: #188486;
$primary-light-color: white;
$primary-light-text-color: black;
$secondery-light-color: #f0f0f0;
$light-color-alt: #ebebeb;
$service-light-color: #F9F7F4;


// Dark Colors:

  // $main-color: #188486;
  // $primary-light-color: rgb(19, 18, 18);
  // $primary-light-text-color: white;
  // $secondery-light-color: #1b1b1b;
  // $light-color-alt: #5c5c5c;
  // $service-light-color: #F9F7F4;

