@use './variables' as v;

// Global Rules
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}

.container-fluid{
  margin: 0;
  padding: 55px 70px;
}

.landing-img{
  position: absolute;
  top: 0;
  left: 0;
}

.main-heading{
  position: relative;
  color: v.$main-color;
  font-size: 2.5rem;
  margin-bottom: 20px;
  .triangle {

    width: 100px;
    height: 100px;
    position: absolute;
    top: -30%;
    left: 0rem;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
    z-index: -1;
  }
  .triangle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(125 182 163 / 20%);
    transform: rotate(45deg);
    top: 75px;
    left: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);    
  }
}
 @media (max-width: 768px){
  .main-heading, .services .main-heading{
    font-size: 2rem;
  }
 }
  

 .scrollTop{
  position: fixed;
  font-size: 1.4rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  border: none;
  cursor: pointer;
  color: v.$main-color;
  background: #333333;
 }

.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10000;
  pointer-events: none;
}

// Fonts
@font-face {
  font-family: 'Readex-pro';
  src: url(./assets/Fonts/ReadexPro-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url('./assets/Fonts/Inter-Regular.ttf');
}